<%- include('../../fragments/header.ejs') %>
   
    <main>
        <% if (formMode == 'showDetails' || formMode == 'edit') { %> 
            <h2>Szczegóły profilu</h2>

        <%= console.log("profil: \n" + profile) %>

       <form class="form">
            <label for="userName">Username: <span class="symbol-required">*</span></label>
            <input type="text" name="userName" id="userName" value ="<%= profile.user.userName %>" disabled />      
            <span id="errorUserName"></span>

            <label for="favouriteGame">FavouriteGame: <span class="symbol-required">*</span></label>
            <input type="text" name="favouriteGame" id="favouriteGame" value = "<%= profile.game.title %>" disabled />       
            <span id="errorFavouriteGame"></span>

            <label for="gameScore">GameScore: </span></label>
            <input type="number" name="gameScore" id="gameScore" value="<%= profile.gameScore %>" disabled />        
            <span id="errorGameScore"></span>

            <% if(profile.mvpDate != null){ %>
                <label for="dateOfVUfrom">Valuable User From: </label>
                <input type="date" name="dateOfVUfrom" id="dateOfVUfrom" value="<%= profile.mvpDate.toISOString().split('T')[0] %>" disabled />   
                <span id="errorDateOfVUfrom"></span>
            <% }else{ %>
                <label for="dateOfVUfrom">Valuable User From: </label>
                <input type="date" name="dateOfVUfrom" id="dateOfVUfrom" value="<%= profile.mvpDate %>" disabled />   
                <span id="errorDateOfVUfrom"></span>
            <% } %>

            <% if(profile.isPrivate == true){ %>
                <label for="privateProfile">PrivateProfile?: <span class="symbol-required">*</span></label>
                <input type="checkbox" name="privateProfile" id="privateProfile" checked="checked" disabled />   
                <span id="errorPrivateProfile"></span>
            <% }else{ %>
                <label for="privateProfile">PrivateProfile?: <span class="symbol-required">*</span></label>
                <input type="checkbox" name="privateProfile" id="privateProfile" disabled />   
                <span id="errorPrivateProfile"></span>
            <% } %>
        
            
             
            <label for="description">Description: </label>
            <input type="text" name="description" id="description" value="<%= profile.desc %>" disabled />   
            <span id="errorDescription"></span>

            <div>
                <p id="errorsSummary"></p>
                <!--input type="submit" value="Dodaj" class="form-button-submit"/-->
                <!-- input type="reset" -->
                <a href="/profiles/edit/<%= profile._id %>" class="form-button-edit">Edytuj</a>
                <a href="/profiles/" class="form-button-goback">Powrót</a>
            </div>
        </form> 
        <% } %>      
    </main>
    <%- include('../../fragments/footer.ejs') %>
</html>