<%- include('../../fragments/header.ejs') %>
   
    <main>
        
        <h2>Profile użytkowników</h2>

        <table class="table-list">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>FavouriteGame</th>
                <th class="hide-cell">GameScore</th>
                <th class="hide-cell">Valuable User From:</th>
                <th class="hide-cell">PrivateProfile?</th>
                <th class="hide-cell">Description</th>
                <th>Akcje</th>
            </tr>
            <tbody>
                <% for(let up of profiles) { %>
                <tr>

                    
                    <td><%= up._id %></td>
                    <td><%= up.user.userName %></td>
                    <td><%= up.game.title %></td>
                    <td><%= up.gameScore %></td>
                    <% if(up.mvpDate != null){ %>
                        <td> <%= up.mvpDate.toISOString().split('T')[0] %></td>
                    <% }else{ %>
                        <td><%= up.mvpDate %></td>
                    <% } %>
                    <% if(up.isPrivate == true){ %>
                        <td><input type="checkbox" checked disabled></td>
                    <% }else{ %>
                        <td><input type="checkbox"  disabled></td>
                    <% } %>
                    <td><%= up.desc %></td>

                    <td>
                        <ul class="list-actions">
                            <li><a href="/profiles/details/<%= up._id%>" class="list-actions-button-details" >Szczegóły</a></li>
                            <li><a href="/profiles/edit/<%=up._id%>" class="list-actions-button-edit" >Edytuj</a></li>
                            <li><a href="/profiles/delete/<%=up._id %>" class="list-actions-button-delete" >Usuń</a></li>
                        </ul>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <p><a href="/profiles/add" class="button-add">Dodaj nowy profil</a></p>
       
    </main>
    <%- include('../../fragments/footer.ejs') %>

</html>