<%- include('../../fragments/header.ejs') %>
   
    <main>
        <% if (formMode == 'showDetails' || formMode == 'edit') { %> 
        <h2>Szczegóły użytkownika</h2>

       <form class="form">
            <label for="userName">Username: <span class="symbol-required">*</span></label>
            <input type="text" name="userName" id="userName" value ="<%= user.userName %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %> />      
            <span id="errorUserName"></span>

            <label for="email">Email: <span class="symbol-required">*</span></label>
            <input type="email" name="email" id="email" value = "<%= user.email %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %> />       
            <span id="errorEmail"></span>
            
            <label for="country">Country: </span></label>
            <input type="text" name="country" id="country" value="<%= user.country %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %> />        
            <span id="errorCountry"></span>

            <% if(user.lastLogged == null){ %>
                <label for="lastLogged">LastLogged: </span></label>
                <input type="text" name="lastLogged" id="user.lastLogged" value="<%=user.lastLogged%>" <%= (formMode == 'showDetails') ? 'disabled' : '' %> />   
                <span id="errorLastLogged"></span>
            <% }else{ %>
                <label for="lastLogged">LastLogged: </span></label>
                <input type="text" name="lastLogged" id="user.lastLogged" value="<%=user.lastLogged.toISOString().split('T')[1].slice(0,-8)%> <%=user.lastLogged.toISOString().split('T')[0]%>" <%= (formMode == 'showDetails') ? 'disabled' : '' %> />   
                <span id="errorLastLogged"></span>
            <% } %>
            
            <div>
                <p id="errorsSummary"></p>
                <!--input type="submit" value="Dodaj" class="form-button-submit"/ -->
                <!-- input type="reset" --> 
                <a href="/users/edit/<%= user._id %>" class="form-button-edit">Edytuj</a>
                <!--a href="user-list.html" class="form-button-cancel">Anuluj</a -->
            </div>
       </form>
      
       <br>
       <h2>Szczegóły profilu</h2>

       <table class="table-list">
        <tr>
            <th>PrivateProfile?</th>
            <th>FavouriteGame</th>
            <th>Game score</th>
            <th>Valuable User From</th>
            <th>Description</th>
        </tr>
        <tbody>
            <% for (let u of user.userProfiles) { %>
            <tr>
                <% if(u.mvpDate == null){ %>
                    <% if(u.isPrivate == true){ %>
                        <td> <input type="checkbox" checked disabled ></td>
                    <% }else{ %>
                        <td> <input type="checkbox"  disabled ></td>
                        <% } %>
                    <td><%= u.game.title %></td>
                    <td><%= u.gameScore %></td>
                    <td><%= u.mvpDate %></td>
                    <td><%= u.desc %></td>
                <% }else{ %>
                    <% if(u.isPrivate == true){ %>
                        <td> <input type="checkbox" checked disabled ></td>
                    <% }else{ %>
                        <td> <input type="checkbox"  disabled ></td>
                        <% } %>
                    <td><%= u.game.title %></td>
                    <td><%= u.gameScore %></td>
                    <td><%= u.mvpDate.toISOString().split('T')[0] %></td>
                    <td><%= u.desc %></td>
                    
                <% } %>
 
            </tr>
            <% } %>
        </tbody>
        
    </table>
    <% } %>
    <br>
    <a href="/users/" class="form-button-goback">Powrót</a>
       
    </main>
    <%- include('../../fragments/footer.ejs') %>

</html>