<%- include('../../fragments/header.ejs') %>
   
    <main>
        <script type="application/javascript" src="/js/validationUserForm.js"></script>
        <h2><%= pageTitle %></h2>

        <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">

            <input type="hidden" name="_id" value="<%= user._id %>">

            <label for="userName">Username: <span class="symbol-required">*</span></label>
            <input type="text" name="userName" id="userName" value="<%= user.userName%>" <%= (formMode == 'showDetails') ? 'disabled' : '' %> />    
            <span id="errorUserName" class="errors-text"></span>

            <label for="email">Email: <span class="symbol-required">*</span></label>
            <input type="email" name="email" id="email" value="<%= user.email %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %>  />     
            <span id="errorEmail" class="errors-text"></span>

            <label for="country">Country: </label>
            <input type="text" name="country" id="country" value="<%= user.country %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %>  />      
            <span id="errorCountry"></span>

            <% if(user.lastLogged == null || user.lastLogged == ''){ %>
                <label for="lastLogged">Logging time: </label>
                <input type="datetime-local" name="lastLogged" id="lastLogged" value="<%= user.lastLogged %> " <%= (formMode == 'showDetails') ? 'disabled' : '' %> />     
                <span id="errorLastLogged"></span>
            <% }else{ %>
                <label for="lastLogged">Logging time: </span></label>
                <input type="datetime-local" name="lastLogged" id="lastLogged" value="<%=user.lastLogged.toISOString().split('T')[0]%> <%=user.lastLogged.toISOString().split('T')[1]%>" <%= (formMode == 'showDetails') ? 'disabled' : '' %> />   
                <span id="errorLastLogged"></span>
            <% } %>
          
            
            <div>
                <p id="errorsSummary" class="errors-text"></p>
                <input type="submit" value="Dodaj" class="form-button-submit"/>
                <!--input type="reset" -->
                <a href="/users/" class="form-button-cancel">Anuluj</a>
            </div>
       </form>
       
    </main>
    <%- include('../../fragments/footer.ejs') %>

</html>