<%- include('../../fragments/header.ejs') %>

   
    <main>
        
        <h2>Lista użytkowników</h2>

        <table class="table-list">
            <tr>
                <th>Username</th>
                <th class="hide-cell">Email</th>
                <th class="hide-cell">Country</th>
                <th class="hide-cell">Last Logged</th>
                <th>Akcje</th>
            </tr>
            <tbody>
                <% for(let usr of users) { %>
                <tr>
                    <td><%= usr.userName %></td>
                    <td><%= usr.email %></td>
                    <td><%= usr.country %></td>
                    <% if(usr.lastLogged != null){ %>
                        <td><%= //usr.lastLogged.toISOString().slice(0, -8) %><%= usr.lastLogged.toISOString().split('T')[1].slice(0,-8) %> <%= usr.lastLogged.toISOString().split('T')[0] %></td>
                    <% }else{ %>
                        <td><%= usr.lastLogged %></td>
                    <% } %>
                    <td>
                        <ul class="list-actions">
                            <li><a href="/users/details/<%= usr._id%>" class="list-actions-button-details" >Szczegóły</a></li>
                            <li><a href="/users/edit/<%=usr._id%>" class="list-actions-button-edit" >Edytuj</a></li>
                            <li><a href="/users/delete/<%=usr._id %>" class="list-actions-button-delete" >Usuń</a></li>
                        </ul>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
        
        <p><a href="/users/add" class="button-add">Dodaj nowego użytkownika</a></p>
       
    </main>
<%- include('../../fragments/footer.ejs') %>

</html>