<%- include('../../fragments/header.ejs') %>
   
    <main>
        
        <script type="application/javascript" src="/js/validationGameForm.js"></script>
        <h2><%= pageTitle %></h2>

        <form class="form" method="post" action="<%= formAction %>" novalidate onsubmit="return validateForm();">
            <label for="title">Title: <span class="symbol-required">*</span></label>
            <input type="text" name="title" id="title" placeholder="ex. Minecraft" required />       
            <span id="errorTitle" class="errors-text"></span>

            <label for="studio">Studio: </label>
            <input type="text" name="studio" id="studio" placeholder="ex. Mojang" />       
            <span id="errorStudio"></span>

            <label for="publisher">Publisher: </label>
            <input type="text" name="publisher" id="publisher" placeholder="ex. EA" />      
            <span id="errorPublisher"></span>

            <label for="shortDescription">Short Description: </label>
            <input type="text" name="shortDescription" id="shortDescription"  placeholder="Few words about the game" />        
            <span id="errorShortDescription"></span>

            <div>
                <p id="errorsSummary" class="errors-text"> </p>
                <input type="submit" value="<%= btnLabel %>"" class="form-button-submit"/>
                <!--input type="reset" -->
                <a href="/games/" class="form-button-cancel">Anuluj</a>
            </div>
       </form>
       
    </main>
    <%- include('../../fragments/footer.ejs') %>

</html>